provider "aws" {
  region                  = "var.default_aws_region"
  
  access_key = "KEY"
  secret_key = "SUPERSECRET"
}

terraform {
  backend "s3" {
    bucket = "BUCKETNAME"
    region = "us-east-1"
    key = "KEYFORSTATE"
    access_key = "KEY"
    secret_key = "SUPERSECRET"
    encrypt = "true"
  }
}

provider "cloudflare" {
  api_token = "6Jeci9-He7L1h-0jP7yQ1syDclO0MbADYbiWyoxK"
}